{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Poppins' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-19.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-19.css' %}">
</head>
<body>
    
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="true">Sign Up</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            
                                <form action="{% url 'user_register' %}" method = "POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="register-email">Firstname *</label>
                                        <input type="text" class="form-control" id="register-email" name="firstname" required>
                                    </div><!-- End .form-group -->
                    
                                    <div class="form-group">
                                        <label for="register-email">Lastname *</label>
                                        <input type="text" class="form-control" id="register-email" name="lastname" required>
                                    </div><!-- End .form-group -->
                    
                                    <div class="form-group">
                                        <label for="register-email">Username *</label>
                                        <input type="text" class="form-control" id="register-email" name="username" required>
                                    </div><!-- End .form-group -->
                    
                                    <div class="form-group">
                                        <label for="register-email">Email *</label>
                                        <input type="email" class="form-control" id="register-email" name="email" required>
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        <label for="register-email">Phone *</label>
                                        <input type="number" class="form-control" id="register-email" name="phone_number" required>
                                    </div><!-- End .form-group -->
                                    
                                    <div class="form-group">
                                        <label for="register-email">Bio *</label>
                                        <input type="text" class="form-control" id="register-email" name="user_bio" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email">Refferal code</label>
                                        <input type="text" class="form-control" id="register-email" name="refferal">
                                    </div><!-- End .form-group -->
                    
                                    <div class="form-group">
                                        <label for="register-email">Password *</label>
                                        <input type="password" class="form-control" id="register-email" name="password1" required>
                                    </div><!-- End .form-group -->
                    
                                    <div class="form-group">
                                        <label for="register-email">Conform Password *</label>
                                        <input type="password" class="form-control" id="register-email" name="password2" required>
                                    </div><!-- End .form-group -->
                    
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <a href="{% url 'user_login' %}" class="forgot-link">login</a>
                                        </div>
                    
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    {% for msg in messages %}
                                        <p style="color: red;">{{msg}}</p>
                                    {% endfor %}
                                    
                                    
                                </div><!-- End .form-choice -->
                            
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->



        
    
     <!-- Plugins JS File -->
     <script src="{% static 'assets/js/jquery.min.js' %}"></script>
     <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
     <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
     <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
     <script src="{% static 'assets/js/superfish.min.js' %}"></script>
     <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
     <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
     <!-- Main JS File -->
     <script src="{% static 'assets/js/main.js' %}"></script>
     <script src="{% static 'assets/js/demos/demo-19.js' %}"></script>
</body>
</html>