{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- molla/elements-products.html  22 Nov 2019 10:04:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gamers</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        

                        
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="{% url 'wishlist'%}"><i class="icon-heart-o"></i>Wishlist</a></li>
                                    <li><a href="{% url 'user_view_account' %}">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="#" class="logo">
                            <img src="{% static 'assets/images/demos/demo-3/logo.png' %}" alt="Molla Logo" width="45" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li >
                                    <a href="{% url 'user_home' %}" >Home</a>

                                    
                                </li>
                                <li>
                                    <a href="{% url 'user_category_view' %}">Categories</a>

                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Filter</a>

                                    <ul>
                                        {% for fl in filter%}
                                        <li><a href="{% url 'user_products_view' fl.id %}">{{fl.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Price</a>

                            
                                    <ul> 
                                        <li><a href="{% url 'product_price' cat.id 0 500 %}">0 - 500</a></li>
                                        <li><a href="{% url 'product_price' cat.id 500 1000 %}">500 - 1000</a></li>
                                        <li><a href="{% url 'product_price' cat.id 1000 2000 %}">1000 - 2000</a></li>
                                        <li><a href="{% url 'product_price' cat.id 2000 5000 %}">2000 - 5000</a></li>
                                        <li><a href="{% url 'product_price' cat.id 5000 10000 %}">5000 - 10000</a></li>
                                        <li><a href="{% url 'product_price' cat.id 10000 50000 %}">10000 - 50000</a></li>
                                        <li><a href="{% url 'product_price' cat.id  50000 100000 %}">50000 - 100000</a></li>
                                        <li><a href="{% url 'product_price' cat.id 100000 500000 %}">100000 - 500000</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Sort</a>

                                    <ul>
                            
                                        <li><a href="{% url 'max_to_min' cat.id %}">max-to-min</a></li>
                                        <li><a href="{% url 'min_to_max' cat.id %}">min-to-max</a></li>

                                    </ul>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle"  aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">


                                <div class="dropdown-cart-action">
                                    <a href="{% url 'cart'%}" class="btn btn-primary">View Cart</a>
                                    <a href="{% url 'check_out'%}" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Products<span>Elements</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="elements-list.html">Categorey</a></li>
                        <li class="breadcrumb-item"><a href="#">Games</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Products</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="row">
                        {% for item in pro %}
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                          
            
                      
                                <div class="product shadow">
                                    <figure class="product-media">
                                        <div class="row">
                                            <div class="col-md-6"><span class=""></span></div>
                                  
                                        <div class="col-md-2"></div>
                                            {% if item.product_offer != 0 %}
                                            <div class="col-md-4"><span class="product-label label-circle label-new" style="width: 30px; height: 30px">{{item.product_offer}}%</span></div>
                                            {% endif %}
                                        </div>
                                      
                                        
                                        
                                        <a href="{% url 'user_product_view' item.catagory.main_category.id item.catagory.id item.id %}">
                                            <img src="{{ item.img.url }}" alt="Product image" class="product-image " style="height: 200px; width: 250px;">
                                        </a>
    
                                       
    
                                        <div class="product-action">
                                            <a href="{% url 'user_product_view' item.catagory.main_category.id item.catagory.id item.id %}" class="btn-product btn-cart"><span>View</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
    
                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">{{item.name}}</a>
                                        </div><!-- End .product-cat -->
                                        
                                        <span class="product-title"><a href="product.html">{{item.vender}}</a></span><!-- End .product-title -->
                                        {% if item.product_offer != 0 %}
    
                                        <div class="product-price">
                                            <span class="new-price"><span>&#x20B9;</span><i class="fa fa-inr"> </i>{{item.total_price}}</span>
                                            <span class="old-price"> Was <span>&#x20B9;</span><i class="fa fa-inr"> </i> {{item.orginal_price}}</span>
                                        </div><!-- End .product-price -->
                                        {% else %}
                                        <div class="product-price">
                                            <span class="new-price"><i class="fa fa-inr"> </i>{{item.total_price}}</span>
                                        </div><!-- End .product-price -->
                                        {% endif %}
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            
                           
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 col-xl-2 -->
                        {% endfor %}
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="{% static 'assets/images/demos/demo-3/logo.png' %}" alt="Molla Logo" width="45" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="{% static 'assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    